$nav-bar-height: 8vh;
#nav-container {
  height: $nav-bar-height;
  width: 100vw;
  background-color: #3c5aa6;
  display: flex;
  justify-content:space-around;
}
@mixin nav-button {
  margin: 0px;
  padding: 0px;
  postion: center;
  display: inline-block;
  width: 10vw;
  height: $nav-bar-height;
  font-family: 'Verdana';
  font-size: 30px;
  line-height: $nav-bar-height;
  text-decoration: none;
  transition-duration: 0.2s;
}
.nav-button {
  @include nav-button;
  color: white;
}
.nav-button:hover {
  color:white;
  background-color: blue;
}

.nav-title {
  @include nav-button;
  color: #ffcb05;
}